@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Montserrat:ital,wght@1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
}

body {
  padding: 20px;
  min-height: 100vh;
  border-radius: 10px;
  background: linear-gradient(315deg, #cccccc, #f3f3f3);
  box-shadow: -5px -5px 5px #bababa, 5px 5px 5px #ffffff;
}

h2,
h1 {
  padding: 0;
  margin: 0;
  font-weight: 800;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

button {
  font-weight: 600;
}

input {
  all: unset;
}

input.title {
  display: block;
  width: 100%;
  font-weight: 800;
  box-sizing: border-box;
  border-radius: 30px 15px;
  height: 50px;
  margin: 10px auto;
  background: #e3e3e3;
  box-shadow: inset 6px 6px 12px #a6a6a6, inset -6px -6px 12px #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 17px;
  transition: background-color 3s ease;
}

input.title:focus {
  font-size: 20px;

  outline: none;
  background-color: #e0e0e0;
}

input.task {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding-left: 17px;
  margin: 20px auto;
  background: #e3e3e3;
  box-shadow: 5px 5px 10px #a6a6a6, -5px -5px 10px #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

input.task > p {
  margin: 0px auto;

  overflow-wrap: break-word;
  font-weight: 400;
  text-align: initial;
}

p {
  padding: 5px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
